@media only screen and (min-width: 701px) {
 	nav,footer {
		display:none;
	}
	#main{
		display:none;
	}
}
@media only screen and (max-width: 700px) {
	* {
		padding: 0px;
		margin: 0px;
	}
	
	#splash{
		display:none;
	}
	
	body {
		overflow: hidden;
	}
	
	header {
		height: auto;
		border-bottom: solid;
	}

	header #logo {
		display: block;
		float: left;
		margin-left:10px;
		background-image: url(images/logo.png);
		height: 65px;
		width: 124px;
		background-repeat: no-repeat;
	}

	header #nav {
		float: right;
	}
	.navbar-header {
		padding-top: 10px;
	}
	.navbar-inner {
   		background:transparent;
	}
	
	header #gift {
		float: right;
		background-image: url(images/gift85.png);
		height: 60px;
		width: 60px;
		background-repeat: no-repeat;
		margin-top: 10px;
	}

	#main {
		position: relative;
		margin-top: 80px;
		height: 430px;
		text-align: center;
	}
	.btn-success {
		position: relative;
		top: 385px;
		width: 100%;
	}

	.alert-success {
		position: absolute;
		top:80px;
		width: 100%;
		display: block;
	}
	
	.btn-info {
		float: left;
		width: 50%;
		height: 55px;
	}
	
	.clear {
		clear: both;
	}

	#text-menu {
		font-family: 'Rancho', cursive;
		font-size: 20px;
		color: #ffffff;
	}
	.text-main-h1 {
		font-family: 'Rancho', cursive;
		font-size: 50px;
		color: #8080ff;
		padding: 0;
		margin: 0;
	}
	.text-main {
		font-family: 'Rancho', cursive;
		font-size: 35px;
		color: #ffffff;
	}

	#main-fig {
		position:relative;
		top:30px;
		left:40px;
		background-image: url(images/profile.png);
		background-size: 170px;
		height: 360px;
		width: 256px;
		margin:0 auto;
		background-repeat: no-repeat;
	}
	
	.figure {
		position: absolute;
		top: 60px;
		left: 103px;
		background-image: url(images/figureisdressed.png);
		height: 362px;
		width: 129px;
		z-index: 1;
		background-repeat: no-repeat;
	}

	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		width: 70%;
		margin: auto;
	}
	.glyphicon-star {
		font-size: 15px;
	}
	.glyphicon-star-empty {
		font-size: 12px;
	}
	
	.panel-body {
		font-family: 'Rancho', cursive;
		font-size: 28px;
		position: absolute;
		top: 100px;
		left: 70px;
		border: 1px solid black;
		height: 120px;
		width: 200px;
		background: #e5f9ff;
		z-index: 3;
	}
}